<?xml version="1.0" encoding="UTF-8"?>
<plugin-config>
    <depends plugin-name="org.gvsig.scripting"/>
    <resourceBundle name="text"/>
    <libraries library-dir="../org.gvsig.scripting"/>
    <extensions>
        <extension class-name="org.gvsig.scripting.ScriptingExtension"
            active="true" description="Scripts">
<!--            <menu
                action-command="run(fileName='gvSIG/extensiones/it.falciano.scripts/batchLegend.py',language='jython')"
                icon="images/default.png" tooltip="Batch legend"
                text="Scripts/Vector tools/Batch legend" position="98"/> -->

            <menu position="2" 
		  text="Scripts/Change Border" 
		  tooltip="Batch Border Simbology" 
		  icon="images/default_red.png" 
		  action-command="run(fileName='gvSIG/extensiones/es.nachouve.scripts/batchBorderSimbology.py',language='jython')"
		  /> 
	    <menu position="1" 
		  text="Scripts/CSV to SQL" 
		  tooltip="CSV to SQL" 
		  icon="images/default_green.png" 
		  action-command="run(fileName='gvSIG/extensiones/es.nachouve.scripts/csv2sql.py',language='jython')"
		  />
        </extension>
    </extensions>
</plugin-config>
